name: dbt-dmi-rwde-compile-unit-test-pr

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - master

env:
  DBT_ACCESS_TOKEN: ${{ secrets.DMI_DATABRICKS_RWDE_SERVICE_PRINCIPAL_TOKEN }}

jobs:
  rwde-build-and-test:
    # if: contains(github.event.pull_request.title, 'UT')
    if: ${{ contains(github.event.pull_request.title, 'ut') }}
    # Latest Ubuntu supporting Python 3.9.5 is 20.04
    environment: dmi-databricks-qa2-workspace
    runs-on: ubuntu-20.04
    steps:
      # - name: Set PR title as output
      #   id: pr
      #   run: |
      #     echo "::set-output name=title::${{ github.event.pull_request.title }}"
          
      # - name: Check PR title for UT
      #   id: check
      #   run: |
      #     TITLE="${{ steps.pr.outputs.title }}"
      #     if [[ "$TITLE" == *"UT"* ]]; then
      #       echo "UT found in PR title."
      #     else
      #       echo "UT not found in PR title. Exiting."
      #       exit 1
      #     fi
          
      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Configure Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9.5"

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
